<div class="page">
  <h1>Teams</h1>

  <h4>Number of teams: <%= @teams.length %></h4>

  <div class="card-container">
    <% @teams.each do |team| %>
      <div class="card">
        <h2><%= team.market %> <%= team.name %></h2>
        <%= link_to 'View Players', players_team_path(team) %>
        <%= link_to 'View Games', games_team_path(team) %>
      </div>
    <% end %>
  </div>
</div>
