<div class="page">
  <h1>Today's Games</h1>

  <h4>Number of games: <%= @games.length %></h4>

  <div class="card-container">
    <% @games.each do |game| %>
      <div class="card">
        <div class="matchup">
          <div>
            <img src="<%= game.away_team.logo %>" />
            <%=
              link_to "#{game.away_team.market} #{game.away_team.name}",
                      players_team_path(game.away_team),
                      target: '_blank'
            %>
          </div>

          <div>@</div>

          <div>
            <img src="<%= game.home_team.logo %>" />
            <%=
              link_to "#{game.home_team.market} #{game.home_team.name}",
                      players_team_path(game.home_team),
                      target: '_blank'
            %>
          </div>
        </div>

        <%# START TIME %>
        <p>
          <%= game.scheduled.strftime('%I:%M %p') %>
        </p>
      </div>
    <% end %>
  </div>
</div>
