<div class="table">
  <div class="row header">
    <div class="cell"></div>
    <div class="cell">Moneyline</div>
    <div class="cell">Puck line</div>
    <div class="cell">Total</div>
  </div>
  <% @games.each do |id, data| %>
    <% away = data[:away] %>
    <% home = data[:home] %>
    <div class="row-group">
      <div class="row">
        <a
          class="cell"
          href="<%= players_team_path(away[:team]) %>"
          target="_blank"
        >
          <img src="<%= away[:team].logo %>" />
          <%= "#{away[:team].market} #{away[:team].name}" %>
        </a>

        <div class="cell">
          <span>
            <%= away[:stats][:moneyline] %>
          </span>
        </div>
        <div class="cell">
          <span>
            <%= away[:stats][:puckline] %>
          </span>
        </div>
        <div class="cell">
          <span> O <%= data[:totals][:over] %> </span>
        </div>
      </div>
      <div class="row">
        <a
          class="cell"
          href="<%= players_team_path(home[:team]) %>"
          target="_blank"
        >
          <img src="<%= home[:team].logo %>" />
          <%= "#{home[:team].market} #{home[:team].name}" %>
        </a>
        <div class="cell">
          <span>
            <%= home[:stats][:moneyline] %>
          </span>
        </div>
        <div class="cell">
          <span>
            <%= home[:stats][:puckline] %>
          </span>
        </div>
        <div class="cell">
          <span> U <%= data[:totals][:under] %> </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# data[:scheduled].strftime('%I:%M %p') %>
