<div class="table">
  <div class="header">
    <div class="cell"></div>
    <div class="cell">Moneyline</div>
    <div class="cell">Puck line</div>
    <div class="cell">Total</div>
  </div>
  <% @games.each do |id, data| %>
    <% away = data[:away] %>
    <% home = data[:home] %>
    <div class="row-group">
      <div class="row">
        <div class="cell">
          <img src="<%= away[:team].logo %>" />
          <a href="<%= players_team_path(away[:team]) %>" target="_blank">
            <%= "#{away[:team].market} #{away[:team].name}" %>
          </a>
          <span class="at">@</span>
        </div>
        <div class="cell">
          <%= away[:stats][:moneyline] %>
        </div>
        <div class="cell">
          <button>
            <%= away[:stats][:puckline] %>
          </button>
        </div>
        <div class="cell">
          <button> O <%= data[:totals][:over] %> </button>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <img src="<%= home[:team].logo %>" />
          <a href="<%= players_team_path(home[:team]) %>" target="_blank">
            <%= "#{home[:team].market} #{home[:team].name}" %>
          </a>
        </div>
        <div class="cell">
          <button>
            <%= home[:stats][:moneyline] %>
          </butt>
        </div>
        <div class="cell">
          <button>
            <%= home[:stats][:puckline] %>
          </button>
        </div>
        <div class="cell">
          <button> U <%= data[:totals][:under] %> </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
