<div class="page">
  <h1>Today's Games</h1>

  <h4>Number of games: <%= @games.length %></h4>

  <% @games.each do |id, data| %>
    <% away = data[:away] %>
    <% home = data[:home] %>

    <div class="game-row">
      <div class="matchup">
        <img src="<%= away[:team].logo %>" />
        <%=
          link_to "#{away[:team].market} #{away[:team].name}",
                  players_team_path(away[:team]),
                  target: '_blank'
        %>
        <span>@</span>
        <img src="<%= home[:team].logo %>" />
        <%=
          link_to "#{home[:team].market} #{home[:team].name}",
                  players_team_path(home[:team]),
                  target: '_blank'
        %>
      </div>

      <div class="stats">
        <div>Moneyline: <%= away[:stats][:moneyline] %></div>
        <div>Puck line: <%= away[:stats][:puckline] %></div>
        <div>Moneyline: <%= home[:stats][:moneyline] %></div>
        <div>Puck line: <%= home[:stats][:puckline] %></div>
      </div>

      <div>
        <span>
          Over <%= data[:totals][:over] %> / Under <sp%= data[:totals][:under] %>
        </span>
        <span>Puck drop: <%= data[:scheduled].strftime('%I:%M %p') %></span>
      </div>
    </div>
  <% end %>
</div>
