<!DOCTYPE html>
<html>
  <head>
    <title>Waffleboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <button
      data-controller="theme-toggle"
      data-action="click->theme-toggle#toggle"
    >
      <img src="" alt="icon" data-theme-toggle-target="icon" />
    </button>
    <%= yield %>
  </body>
</html>
